:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #000000;
  margin: 0;
  padding: 0;
  background-image: url(/upscaled-home-background.png);
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}
.container {
    height: 380px;
    width: 350px;
    padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
form {
    display: flex;
flex-direction: column;
margin-bottom: 10px;
  color: black;
  padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
}
h1 ,p{
    font-size: 2.5rem;
    color: #f8f9f9;
    text-align: center;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
span {
  color: #b00e0e;
}


input{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}
button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.flex-container {
  display: flex;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
h1 {
 margin-top: px;
}